<script>
    export let status = 0
</script>

<style>
    img {
        height: 15px;
    }
</style>

{#if status == 0}

{:else if status == 1}
    <img src="images/loading.gif" />
{:else if status == 2}
    <img src="images/loading.gif" />
{:else if status == 3}
    💚
{:else if status == 200}
    💚
{:else if status == 4} 
    🧡 
{:else} 
    ❤️  Error
{/if}
